#eat {
    background-color: pink;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;

    #eat-buttons {
        margin-left: 1em;
    }
    
}