#fight {
        background-color: lightgoldenrodyellow;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: flex-start;

        #fight-buttons {
                margin-left: 1em;
        }
}