
.quad {
  width: 50%;
  height: 50%;
}

.pos {
   background-color: lightgreen;
   border-color: gray;
   border-radius: 10%;
  }
.neut {
  background-color:goldenrod;
  border-color: gray;
   border-radius: 10%;
}    
.neg {
  background-color: brown;
  color: whitesmoke;
  border-color: gray;
   border-radius: 10%;
}